{% extends "./layout/layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/public/css/page-sj-qa-allTag.css" />
{% endblock %}

{% block main %}
<!--两列布局-->
<div class="wrapper all-tags">
  <div class="tags-head">
    <h2 class="tag-title">标签</h2>
    <p class="tag-second">标签是最有效的内容组织形式，正确的使用标签能更快的发现和解决你的问题。</p>
  </div>
  <div class="alltags-card">
    <ul class="yui3-g tags-list" style="display:block;">
      {% for tag in tags %}
      <li class="tag-item yui3-u-1-4">
        <div class="inner">
          <h5 class="title"><a href="/?tag={{ tag.name }}" target="_blank">{{ tag.name }}</a></h5>

          <div class="guanzhu">
            <a class="sui-btn btn-guanzhu color">加关注</a>
            <span class="guannum"><i class="num">{{ tag.followers.length }}</i>人关注</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- 分页器代码块 -->
  {% from "./pagination/index.html" import pagination_tags %}
  {{ pagination_tags(_page=_page, lastPage=lastPage) }}
</div>
{% endblock %}

{% block script %}
{% endblock %}