{% extends "./layout/layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/public/css/page-sj-qa-submit.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/simplemde/dist/simplemde.min.css">
<link rel="stylesheet" type="text/css" href="/node_modules/github-markdown-css/github-markdown.css">
<style>
  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    /* padding: 45px; */
  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }
</style>
{% endblock %}

{% block main %}
<div class="qa-submit-form">
  <form id="form" class="sui-form">
    <input type="hidden" id="topicId" value="{{ topic._id }}">
    <div class="input-title">
      <input type="text" name="title" placeholder="标题：一句话说清问题，用问号结尾" class="input-xfat input-xxlarge title"
        value="{{ topic.title }}">
    </div>
    <div class="tags-area">
      <div class="input-tags">
        <input type="text" name="tags" placeholder="标签，如:php可使用逗号，分号； 来分隔" class="input-xfat input-xxlarge" id="tags"
          value="{{ topic.tags }}">
      </div>
      <div class="tags-box">
        <ul class="sui-tag tag-bordered">
          <li class="tag-item">javascript</li>
          <li class="tag-item">php</li>
          <li class="tag-item">css</li>
          <li class="tag-item">html</li>
          <li class="tag-item">java</li>
          <li class="tag-item">python</li>
          <li class="tag-item">html5</li>
          <li class="tag-item">node.js</li>
          <li class="tag-item">c++</li>
        </ul>
      </div>
    </div>

    <div class="editor">
      <!-- <textarea name="editor1"></textarea> -->
      <textarea name="body" class="markdown-body" cols="60" rows="10"></textarea>
    </div>
    <div class="submit">
      <span>已保存草稿</span>
      <button type="submit" class="sui-btn btn-release">更新问题</button>
      <!-- <span><a class="sui-btn btn-release">发布问题</a></span> -->
    </div>
    <div class="clearfix"></div>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script src="/node_modules/simplemde/dist/simplemde.min.js"></script>
<script>
  // 初始化编辑器
  let simplemde = new SimpleMDE({
    element: $('textarea[name=body]')[0], //挂载点dom元素
    spellChecker: false, // 关闭拼写检查
    autosave: { // 自动保存
      enabled: true,
      uniqueId: "MyUniqueID", // 本地存储的key
      delay: 1000,
    }
  })
  const $form = $('#form')
  const topicId = $('#topicId').val()

  $form.validate({
    submitHandler: function (form) {
      update(form)
    }
  })

  function update(form) {
    // console.log('提交')
    $.ajax({
      url: `/topic/${topicId}/update`,
      method: 'POST',
      data: $form.serialize(),
      success(res) {
        if (res.code === 0) {
          alert('更新成功！！')
          // 跳转到问题详情
          window.location.href = `/topic/show/${ res.topic._id }`
        }
      },
      error(res) {
        let {
          status
        } = res
        if (status === 422) {
          alert('所有表单项不能为空！')
        }
      }
    })
    // 阻止提交的默认行为
    return false
  }
</script>
{% endblock %}